#main
{
    margin-top: 100px;
    margin-left: 300px;
    border: 1px solid black;
    width: 600px;
    height: auto;
    background-image: url("GANESH7.jpg");
}

.div-size
{
    width: inherit-2;
    height: 40px;
    /* border: 1px solid red;   */
    margin: 1px;  
}

.div-label
{
    width: 200px;
    height: 36px;
    /* border: 1px solid green;   */
    /* margin: 1px;   */
    float: left;
    text-align: center;
    padding-top: 5px;
    
}

.div-label >label
{
    padding-top: 5px;
    margin-top: 100px;
}

.div-cont
{
    width: 392px;
    height: 36px;
    /* border: 1px solid blue;   */
    /* margin: 1px;   */
    float: left;
    text-align: center;
    padding-top: 5px;
}

.input-cont
{
    width: 250px;
    height: 25px;
}


.sel-cont
{
    width: 260px;
    height: 25px;
}

/* .div-cont:first-child
{
    size: inherit;
    width: 250px;
    height: 30px;
    
} */

.btn
{
    color: black;
    background-color: brown;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}